body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-size: 16px;
}

.grenze-gotisch-<uniquifier> {
  font-family: "Grenze Gotisch", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h1, p, form {
  text-align: center;
}

form {
  width: 60vw;
  max-width: 700px;
  max-height: 300px;
  margin: 0 auto;
}

div, img {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}